.content-wrapper {
    padding: 30px;
}

@media(min-width: 992px) {
    .content-wrapper {
        padding: 30px 160px;
    }
}

.home-icon {
    min-width: unset;
    
    img {
        width: 25px;
    }
}