.price-inputs {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
}

.table-wrapper {
  overflow: auto;
}

table {
  width: 100%;
  min-width: 1000px;;
}

th.mat-column-position,
td.mat-column-position {
  padding-left: 8px;
}

.mat-table-sticky:first-child {
  border-right: 1px solid #e0e0e0;
}
