<app-loading-spinner *ngIf="loading"></app-loading-spinner>
<div *ngIf="bug$ | async as bug">
  <div *ngIf="!loading">
    <mat-list>
      <mat-list-item
        >{{ "Name" | translate }}: {{ bug.name | translate }}</mat-list-item
      >
      <mat-divider></mat-divider>
      <mat-list-item
        ><app-selling-price [price]="bug.price"></app-selling-price
      ></mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item
        >{{ "Location" | translate }}:
        {{ "BUG_LOCATIONS." + bug.location | translate }}</mat-list-item
      >
    </mat-list>
    <app-catch-time-details [catchTime]="bug.catchTime"></app-catch-time-details>
  </div>
</div>
