<mat-form-field>
  <input
    type="text"
    [placeholder]="'Search' | translate"
    aria-label="Search"
    matInput
    [formControl]="searchControl"
    [matAutocomplete]="auto"
  />
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option
      *ngFor="let collectible of collectibles"
      [value]="collectible.name | translate"
    >
      {{ collectible.name | translate }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>

<app-loading-spinner *ngIf="loading"></app-loading-spinner>

<div class="collectibles" *ngIf="!loading">
  <div *ngIf="collectibles.length === 0">
    {{"No entries found" | translate}}
  </div>
  <mat-card class="collectible" *ngFor="let collectible of collectibles">
    <a [routerLink]="['/', baseLink, collectible.name]">
      <img
        [matTooltip]="collectible.name | translate"
        [src]="collectible.image"
        [alt]="collectible.name | translate"
      />
    </a>
  </mat-card>
</div>
